.container{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    /* background-color: red; */
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
